<!DOCTYPE html>
<html>
    <head>
        <title>Weather Website</title>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        {{>header}}
        <h1>About Page</h1>
        <!-- header -->
        <p>About our weather website</p>
        {{>footer}}
    </body>
    <script src="js/index.js"></script>
</html>

