<!DOCTYPE html>
<html>
    <head>
        <title>Weather Website</title>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        {{>header}}
        <h1>HOME Page</h1>
        <!-- header -->
        <p>Hello {{username}}</p>

        {{>footer}}

        {{!-- {{#if numMsg}}
            <p>You have {{numMsg}} messages.</p>
        {{else}}
            <p>No Messagess</p>
        {{/if}} --}}

    </body>
    <script src="js/index.js"></script>
</html>

